<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<h3>First Run</h3>

<div ng-app="first-run">
    <p>Name : <input type="text" ng-model="name"></p>
    <b>Hello {{name}}</b>

    <div ng-init="firstName='John'">
        <p>The name is <span ng-bind="firstName"></span></p>
    </div>
</div>


</body>
</html> 