<!DOCTYPE html>
<h lang="en-US">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <>


    <h3>Second Run</h3>

    <div ng-app="secondRun" ng-controller="secondRunCtrl">

        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        First and Last Name :: {{firstName + " " + lastName}}

        <div>
            <p>My first expression: {{ 5 + 5 }}</p>
        </div>

        <div ng-init="quantity=7;cost=5">
            Total in dollar: {{ quantity * cost }}
            <br>Total in dollar (ng-bind): <span ng-bind="quantity * cost"></span>
        </div>

        <div ng-init="firstName='John';lastName='Doe'">
            The name is {{ firstName + " " + lastName }}
            <br>The ng-bind name is <span ng-bind="firstName + ' ' + lastName"></span>
        </div>

        <h3>Using JSON / Arrays</h3>

        <div ng-init="person={firstName:'John',lastName:'Doe'}; points=[1,15,19,2,40]">
            The person.lastName is {{ person.lastName }}
            <br>Using Arrays, the third result is {{ points[2] }}
            <br>The third result is <span ng-bind="points[2]"></span>
        </div>

        <h3>Data Binding</h3>

        <div ng-init="quantity=1;price=5">
            Quantity: <input type="number" ng-model="quantity">
            <br>Costs: <input type="number" ng-model="price">
            <br>Total in dollar: {{ quantity * price }}

        </div>

        <h3>Repeating HTML Elements</h3>

        <div ng-init="names=['Jani','Hege','Kai']">
            <ul>
                <li ng-repeat="x in names">
                    {{ x }}
                </li>
            </ul>
        </div>

        <h3>Repeating HTML Elements - Array</h3>
        <div ng-init="names=[
                                {name:'Jani',country:'Norway'},
                                {name:'Hege',country:'Sweden'},
                                {name:'Kai',country:'Denmark'}]">
            <ul>
                <li ng-repeat="x in names">
                    {{ x.name + ', ' + x.country }}
                </li>
            </ul>

        </div>


    </div>


    <script>
        var app = angular.module('secondRun', []);
        app.controller('secondRunCtrl', function ($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
        });
    </script>

    </body>
    </html>