<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<h3>Directives</h3>
<p>From <a href="http://www.w3schools.com/angular/angular_controllers.asp">W3schools Directives Tutorial</a></p>
<div ng-app="myApp">
    <div ng-controller="MyController">

        First Name: <input type="text" ng-model="firstName1"><br>
        Last Name: <input type="text" ng-model="lastName1"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}
    </div>

    <div ng-controller="PersonController">
        First Name: <input type="text" ng-model="firstName2"><br>
        Last Name: <input type="text" ng-model="lastName2"><br>
        <br>
        Full Name: {{fullName()}}
    </div>

    <div ng-controller="NamesController">
        <div>
        <ul>
            <li ng-repeat="x in names">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>
            </div>

        <div>
            <h4>Adding Order-by Filter to names: by country</h4>
            <ul>
            <li ng-repeat="x in names | orderBy:'country'">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>
        </div>

    </div>
</div>
<!--<script src="namesController.js"></script>-->


    <script src="js/W3Schools-Controllers.js"></script>
    <!--<script>
        var app = angular.module('myApp', []);

        app.controller('MyController', function ($scope) {
            $scope.firstName1 = "John";
            $scope.lastName1 = "Doe";
        });



        app.controller('PersonController', function ($scope) {
            $scope.firstName2 = "Billy Ray";
            $scope.lastName2 = "Cyrus";
            $scope.fullName = function () {
                return $scope.firstName + " " + $scope.lastName;
            }
        });
    </script>-->


</body>
</html> 