<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>W3Wchools: Angular Filters</title>
    <link rel="stylesheet" type="text/css" href="css/W3schools.css"/>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<h3>Filters</h3>

<p>From page <a href="http://www.w3schools.com/angular/angular_filters.asp">W3Schools Tutorial on Angular Filters</a>
</p>


<div ng-app="myApp">
    <div ng-controller="PersonController">
        <p>The uppercase last name is {{ lastName2 | uppercase }}</p>
        <p>The lowercase last name is {{ lastName2 | lowercase }}</p>
    </div>

    <div ng-controller="CostController">
        <input type="number" ng-model="quantity">
        <input type="number" ng-model="price">
        <p>Total = {{ (quantity * price) | currency }}</p>
    </div>

    <div ng-controller="NamesController">
        <div>
            <h4>Adding Order-by Filter to names: by country</h4>
            <ul>
                <li ng-repeat="x in names | orderBy:'country'">
                    {{ x.name + ', ' + x.country }}
                </li>
            </ul>
        </div>
    </div>


    <div ng-controller="NamesController">
        <h4>Adding 'Filter:Test'  and Order-by country <-- I LIKE THIS ONE *** A LOT !!! *** </h4>
        <p><input type="text" ng-model="test"></p>
        <ul>
            <li ng-repeat="x in names | filter:test | orderBy:'country'">
                {{ (x.name | uppercase) + ', ' + x.country }}
            </li>
        </ul>
    </div>
</div>

<script src="js/W3Schools-Controllers.js"></script>

</body>
</html>