<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>W3Wchools: Angular Tables, AJAX, and SQL</title>
    <link rel="stylesheet" type="text/css" href="css/W3schools.css"/>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<h3>AJAX</h3>

<p>From page <a href="http://www.w3schools.com/angular/angular_filters.asp">W3Schools Tutorial on Angular Filters</a>
</p>


<div ng-app="myApp">
    <div ng-controller="CustomersController">
        <table>
            <tr ng-repeat="x in names">
                <td>{{ x.Name }}</td>
                <td>{{ x.Country }}</td>
            </tr>
        </table>

        <p><b>Order By Country</b></p>
        <table>
            <tr ng-repeat="x in names | orderBy : ['Country', 'Name'] ">

                <td>{{ $index + 1 }}</td>
                <td>{{ x.Name }}</td>
                <td>{{ x.Country  | uppercase }}</td>
            </tr>
        </table>

        <p><b>Odd Even</b></p>
        <table>
            <tr ng-repeat="x in names | orderBy : ['Country', 'Name'] ">
                <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.Name }}</td>
                <td ng-if="$even" style="background-color:#fff">{{ x.Name }}</td>
                <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.Country }}</td>
                <td ng-if="$even" style="background-color:#fff">{{ x.Country }}</td>
            </tr>
        </table>
    </div>

    <h3>Customers SQL Query work</h3>
    <div ng-controller="CustomersSQLController">
        <table>
            <tr ng-repeat="x in names">
                <td>{{ x.Name }}</td>
                <td>{{ x.Country }}</td>
            </tr>
        </table>
    </div>

    <!-- END OF APPLICATION ... no CODE BEYOND THIS POINT -->
</div>





<script src="js/W3Schools-Controllers.js"></script>

</body>
</html>