<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>W3Wchools: Angular Tables, AJAX, and SQL</title>
    <link rel="stylesheet" type="text/css" href="css/W3schools.css"/>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<h3>AJAX</h3>

<p>From page <a href="http://www.w3schools.com/angular/angular_htmldom.asp">W3Schools Tutorial: Angular and HTML DOM</a>
</p>


<div ng-app="myApp">

    <div>
        <h4>ng-disabled</h4>
        <button ng-disabled="mySwitch">Click Me!</button>
        <br><input type="checkbox" ng-model="mySwitch">Button
    </div>

    <h4>ng-show</h4>
    <input type="checkbox" ng-model="show1">Show 1
    <input type="checkbox" ng-model="show2">Show 2
    <span ng-show="show1">I am visible.</span>
    <span ng-show="show2">I am not visible.</span>

     <span style="background-color:#D8D8D8">
        <h4>Original ng-show</h4>
        <p ng-show="true">I am visible.</p>
        <p ng-show="false">I am not visible.</p>
        <p>OR <h4>ng-hide</h4>
     </span>
    <h4> ng-hide</h4>

    <p ng-hide="false">I am visible.</p>

    <p ng-hide="true">I am not visible.</p>
    <hr>
    <div style="background-color: #c8c8c8">
        <h4>ng-show time-based ( Does not appear to work )</h4>
        <span ng-show="hour > 17">I am visible if the clock is greater than {{hour}}</span>
        <h4>ng-show time-based, me changed</h4>
        <span>Time : <input type="text" ng-model="clockTime"></span>
        <span ng-show="hour > {{clockTime}}">I am visible if the clock is greater than {{clockTime}}</span>
    <div>


<!-- END OF APPLICATION ... no CODE BEYOND THIS POINT -->
</div>


<script src="js/W3Schools-Controllers.js"></script>

</body>
</html>