<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>W3Wchools: Angular Tables, AJAX, and SQL</title>
    <link rel="stylesheet" type="text/css" href="css/W3schools.css"/>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<h3>AJAX</h3>

<p>From page <a href="http://www.w3schools.com/angular/angular_htmldom.asp">W3Schools Tutorial: Angular and HTML DOM</a>
</p>


<div ng-app="myApp">

    <h1>EVENTS</h1>
    <p>From W3Schools <a href="http://www.w3schools.com/angular/angular_events.asp">Angular Tutorial on Events</a></p>
    <div style="background-color:#D8D8D8">
        <button ng-click="count = count + 1">Click me!</button>
        <p>{{ count }}</p>
    </div>

    <hr>

    <div style="background-color: #c8c8c8" ng-controller="PersonController">
        <h4>Toggling Visibility in whole application</h4>
        <button ng-click="toggle()">Toggle</button>
        <p ng-hide="myVar">
            First Name: <input type="text" ng-model="firstName2"><br>
            Last Name: <input type="text" ng-model="lastName2"><br>
            <br>
            Full Name: {{firstName2 + " " + lastName2}}
        </p>
    </div>

    <hr>

    <h4>ng-click</h4>
    <div >
        <button ng-click="count = count + 1">Click me!</button>
        <p>{{ count }}</p>
    </div>

    <!-- END OF APPLICATION ... no CODE BEYOND THIS POINT -->
</div>


        <script src="js/W3Schools-Controllers.js"></script>

</body>
</html>