<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>W3Wchools: Angular Tables, AJAX, and SQL</title>
    <link rel="stylesheet" type="text/css" href="css/W3schools.css"/>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<h3>FORMS</h3>

<p>From page <a href="http://www.w3schools.com/angular/angular_forms.asp">W3Schools Tutorial: Forms</a>
</p>


<div ng-app="myApp">
    <div ng-controller="FormController">
        <form novalidate>
            First Name:<input type="text" ng-model="user.firstName"><br>
            Last Name: <input type="text" ng-model="user.lastName">
            <br><br>
            <button ng-click="reset()">RESET</button>
        </form>
        <p>form = {{user}}</p>
        <p>master = {{master}}</p>
    </div>
</div>

<script src="js/W3Schools-Controllers.js"></script>

</body>
</html>