<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<h3>API: lowercase, uppercase, isString(), isNumber() </h3>
<p>From <a href="http://www.w3schools.com/angular/angular_api.asp">W3 Schools Angular Tutorial : API</a></p>
<div ng-app="myApp">
    <div ng-controller="myCtrlLower">
        <p>{{ x1 }}</p>
        <p>lowercase: {{ x2 }}</p>
    </div>
    <hr>

    <div ng-controller="myCtrlUpper">
        <p>{{ x1 }}</p>
        <p>uppercase: {{ x2 }}</p>
    </div>
    <hr>

    <div ng-app="myApp" ng-controller="IsStringCtrl">
        <p>{{ x1 }}</p>
        <p>isString(): {{ x2 }}</p>
    </div>
    <hr>

    <div ng-app="myApp" ng-controller="IsNumberCtrl">
        <p>{{ x1 }}</p>
        <p>IsNumber(): {{ x2 }}</p>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrlLower', function($scope) {
            $scope.x1 = "JOHN";
            $scope.x2 = angular.lowercase($scope.x1);
        });


        app.controller('myCtrlUpper', function($scope) {
            $scope.x1 = "John";
            $scope.x2 = angular.uppercase($scope.x1);
        });


        app.controller('IsStringCtrl', function($scope) {
            $scope.x1 = "JOHN";
            $scope.x2 = angular.isString($scope.x1);
        });

        app.controller('IsNumberCtrl', function($scope) {
            $scope.x1 = "JOHN";
            $scope.x2 = angular.isNumber($scope.x1);
        });

    </script>
</div>


</body>
</html> 